.feed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

@media (max-width: 40rem) {
  .feed {
    grid-template-columns: 1fr 1fr;
  }
}
