.graph {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.graphItem {
  display: grid;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
}

.acessos {
  grid-column: 1 / -1;
  font-size: 2rem;
  padding: 2rem;
}

@media (max-width: 40rem) {
  .graph {
    grid-template-columns: 1fr;
  }
}
