.nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.nav a,
.nav button {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background: #eee;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: 0.1s;
  padding: 0.4rem;
  width: max-content;
}

.nav a:hover,
.nav a:focus,
.nav button:hover,
.nav button:focus {
  background: #fff;
  border-color: #333;
  box-shadow: 0 0 0 2px #eee;
  outline: 0;
}

.nav a:global(.active),
.nav button:global(.active) {
  background: #fff;
  border-color: #fb1;
  box-shadow: 0 0 0 2px #fea;
}

.nav a:global(.active) svg > * {
  fill: #fb1;
}
