.photoPost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.form {
  min-width: 0;
}

.fileInput {
  margin-bottom: 1rem;
}

.preview {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 0.5rem;
}

@media (max-width: 40rem) {
  .photoPost {
    grid-template-columns: 1fr;
  }
}
