.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.login::before {
  content: "";
  display: block;
  background: url("../../Assets/login.jpg") no-repeat center/cover;
}

.forms {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem 0;
  max-width: 400px;
}

@media (max-width: 600px) {
  .login {
    grid-template-columns: 1fr;
  }
  .login::before {
    content: unset;
  }
}
